{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <img src="{% static 'images/logo.png' %}" alt="" width="250" height="150" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contenu' %}">Contenu2LApp</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'ecoles' %}">Liste des écoles disponibles</a>
                    {% else %}
                    <!-- Champ masqué si l'utilisateur est déconnécté -->
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'eleves' %}" class="nav-link">Liste des élèves</a>
                    {% else %}
                    <!-- Champ masqué si l'utilisateur est déconnécté -->
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'reservation' %}" class="nav-link">Liste des réservations</a>
                    {% else %}
                    <!-- Champ masqué si l'utilisateur est déconnécté -->
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" <button class="btn btn-danger">Deconnexion</button></a>
                    {% else %}
                    <a href="{% url 'login' %}"><button class="btn btn-success">Connexion</button></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

