{% extends "../base.html" %}
{% load static %}


{% block content %}
<section id="home-header">
    <div class="p-5 mb-4 bg-warning-subtle rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="MonApp2PilotageLogo">
                </div>
                <div class="col-md-9">
                    <h1 class="display-5 fw-bold">Bienvenue sur Mon app 2 Pilotage</h1>
                </div>
            </div>
        </div>
        <div>
            Pour une navigation qualitative, nous vous consillons de <a href="{% url 'register' %}">créer un compte</a>.
        </div>
    </div>
    
    <div class="p-2 mb-4 rounded-3 d-flex justify-content-center">
        <a href="{% url 'contenu' %}"><button class="btn btn-warning">Contenu du site Django !</button></a>
    </div>

    <div class="p-5 mb-4 bg-warning-subtle rounded-3">
        <div class="col-md-9">
            <h1 class="display-5 fw-bold">Qui sommes-nous ?</h1>
        </div>
        <p class="">Mon app 2 Pilotage est une application web qui permet la réservations
            de cours de conduite, vous pouvez créer un compte utilisateur,
            pour accéder à votre compte et ainsi obtenir un récapitulatif de 
            vos formations chez nous.
        </p>
    </div>
</section>
{% endblock %}