{% extends "../base.html" %}
{% load static %}


{% block content %}
<section id="home-header">
    <div class="p-5 mb-4 bg-warning-subtle rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="MonApp2PilotageLogo">
                </div>
                <div class="col-md-9">
                    <h1 class="display-5 fw-bold">L'app contient :</h1>
                </div>
                <div class="col-md-9">
                    <h4 class="display-7 fw-bold">- Liste des écoles</h4>
                    <h4 class="display-7 fw-bold">- Liste des élèves</h4>
                    <h4 class="display-7 fw-bold">- Fiche perso élèves</h4>
                    <h4 class="display-7 fw-bold">- Formulaire d'inscription (Non fonctionnel)</h4>
                    <h4 class="display-7 fw-bold">- Formulaire de connexion (Fonctionnel)</h4>
                    <h4 class="display-7 fw-bold">- Notion d'élèves inscrits dans une auto-école</h4>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}