{% extends "../base.html" %}
{% load static %}

{% block content %}
<section id="home-header">
    <div class="row">
        <div class="col-md-9">
            <h1 class="display-5 fw-bold">Liste des écoles</h1>
        </div>
        {% for ecole in ecoles %}
        <div class="col-md-4 mb-3">
            <div class="card bg-warning-subtle">
                <img src="{{ MEDIA_URL }}{{ ecole.image }}" class="card-img-top" alt="{{ ecole.name }}">
                <div class="card-body">
                    <h3 class="card-title">{{ ecole.name }}</h3>
                    <p class="card-text">{{ ecole.description }}</p>
                    <p class="card-text">Il y a {{ ecole.students }} élèves</p>
                    <a href="#" class="btn btn-primary">Réserver</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
